.footer-container {
  background-color: #00184F;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.footer-container p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
