.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B212D;
  padding: 12px 24px;
  color: white;
}

.logo{
  height: 40px;
  width: auto;
}

.links{
  display: block;
}

.links ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.links a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Un sutil resaltado */
}
