<div class="container mt-4 maestros-page">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Todos los talleres...</h3>
    <button class="btn btn-primary" (click)="openAddModal()">
      <img src="assets/Group 12.png" alt="+" class="icon-btn">Agregar
    </button>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <input class="form-control" placeholder="Buscar..." [(ngModel)]="searchText" disabled>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-borderless align-middle">
      <thead>
        <tr>
          <th>Nombre del taller</th>
          <th>Horario</th>
          <th>Cupo maximo</th>
          <th>Tipo</th>
          <th>Descripcion</th>
          <th>Maestro</th>
          <th class="text-end">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taller of talleres">
          <td>{{taller.nombre_taller}}</td>
          <td>{{taller.horario}}</td>
          <td>{{taller.cupo_maximo}}</td>
          <td>{{taller.tipo}}</td>
          <td>{{taller.descripcion}}</td>
          <td>{{taller.nombre_maestro}}</td>
          <td class="text-end">
            <button class="btn btn-link p-1" (click)="openEditModal(taller)" title="Editar">
              <img src="assets/Edit.png" alt="Editar" class="icon-action">
            </button>
            <button class="btn btn-link p-1" (click)="deleteTaller(taller.id_taller!)">
              <img src="assets/Delete Black.png" alt="Eliminar" class="icon-action">
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="talleres.length === 0 && !loading" class="p-3 text-center text-muted">
      No hay ningun taller guardado en la Base de Datos
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-card">
    <div class="modal-header">
      <h5 class="modal-title"> {{ modalMode == 'add' ? 'Agregar taller' : 'Editar taller'}}</h5>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>

    <form [formGroup]="tallerForm" (ngSubmit)="save()">
      <div class="modal-body">
        <div class="row g-2">
          <div class="col-12 col-md-6">
            <label class="form-label">Nombre del taller</label>
            <input formControlName="nombre_taller" class="form-control" />
          </div>

          <div class="col-12 col-md-6">
            <label class="form-label">Horario</label>
            <select formControlName="horario" class="form-select">
                <option value="" disabled>Selecciona...</option>
                <option value="MATUTINO">MATUTINO</option>
                <option value="VESPERTINO">VESPERTINO</option>
            </select>
          </div>

          <div class="col-12 col-md-6">
            <label class="form-label">Cupo maximo</label>
            <input type="number" formControlName="cupo_maximo" class="form-control" />
          </div>

          <div class="col-12 col-md-6">
            <label class="form-label">Tipo</label>
            <input formControlName="tipo" class="form-control" />
          </div>

          <div class="col-12 text-start"> <label class="form-label">Descripcion</label>
            <textarea formControlName="descripcion" class="form-control" rows="2"></textarea>
          </div>

          <div class="col-12">
            <label class="form-label">Maestro Encargado</label>
            <select formControlName="id_maestro" class="form-select">
                <option value="" disabled selected>Selecciona un maestro...</option>
                <option *ngFor="let m of listaMaestros" [value]="m.id_maestro">
                    {{ m.nombre }} {{ m.apellido_paterno }} {{ m.apellido_materno }}
                </option>
            </select>
          </div>

        </div>
      </div>

      <div class="modal-footer d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          <img src="assets/Cancel.png" alt="Cancelar" class="icon-action">Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="modalMode === 'edit' && currentEditingId"
          (click)="deleteTaller(currentEditingId!)">
          <img src="assets/Delete.png" alt="Eliminar" class="icon-action"> Eliminar
        </button>

        <button type="submit" class="btn btn-primary">
          <img src="assets/Save.png" alt="Guardar" class="icon-action">{{ modalMode === 'add' ? 'Guardar' : 'Guardar cambios' }}
        </button>
      </div>
    </form>
  </div>
</div>
